.catalog-page {
  position: relative;
  display: block;
  width: 100%;
  padding-block: 80px;
  background-color: #dacdc2;
  z-index: 10;
  .categories-filter {
    display: block;
    width: 100%;
    margin-bottom: 24px;
    #store-filter-form {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: stretch;
      width: 100%;
      background-color: $white;
      border-radius: 5px;
      select {
        -moz-appearance: none; /* Firefox */
        -webkit-appearance: none; /* Safari and Chrome */
        appearance: none;
        display: block;
        width: 260px;
        min-height: 52px;
        padding: 10px;
        color: $oatmeal;
        background-color: $taupe;
        border-radius: 5px;
      }
      input {
        display: block;
        width: 100%;
        max-width: calc(100% - 260px);
        min-height: 52px;
        padding: 10px;
        background-color: $white;
        border-radius: 5px;
      }
    }
  }
  #store-content {
    display: block;
    width: 100%;
    max-width: calc(100% - 320px);
    margin: 0 auto;
    .block-categories {
      display: block;
      width: 100%;
      .categories-title {
        display: block;
        width: 100%;
        margin-bottom: 6px;
        font-family: $ff;
        font-weight: 400;
        font-size: 32px;
        line-height: 1.4;
        color: #6e6259;
      }
      .block-category {
        display: block;
        width: 100%;
        .category-title {
          display: block;
          width: 100%;
          font-family: $ff;
          font-weight: 400;
          font-size: 18px;
          line-height: 1.4;
          color: #6e6259;
          cursor: pointer;
        }
        .category-posts {
          width: 100%;
          padding-top: 4px;
          padding-left: 30px;
          .category-post {
            display: block;
            width: 100%;
            font-family: $ff;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.3;
            color: #6e6259;
            &:not(:last-child) {
              margin-bottom: 8px;
            }
          }
        }
        &:not(:last-child) {
          margin-bottom: 12px;
        }
      }
      &:not(:last-child) {
        margin-bottom: 70px;
      }
    }
  }
}

@media (max-width: 991px) {
  .catalog-page #store-content {
    max-width: calc(100% - 120px);
  }
  .catalog-page #store-content .block-categories .categories-title {
    font-size: 28px;
  }
}
@media (max-width: 767px) {
  .catalog-page {
    padding-block: 60px;
  }
  .catalog-page .categories-filter #store-filter-form select,
  .catalog-page .categories-filter #store-filter-form input {
    width: 100%;
    max-width: 100%;
  }
  .catalog-page #store-content .block-categories .categories-title {
    font-size: 26px;
  }
}
@media (max-width: 576px) {
  .catalog-page {
    padding-block: 40px;
  }
  .catalog-page #store-content {
    max-width: 100%;
  }
  .catalog-page #store-content .block-categories:not(:last-child) {
    margin-bottom: 50px;
  }
  .catalog-page #store-content .block-categories .categories-title {
    font-size: 24px;
  }
}
@media (max-width: 460px) {
  .catalog-page #store-content .block-categories .categories-title {
    font-size: 22px;
  }
}
@media (max-width: 400px) {
}
