.directions {
  position: relative;
  display: block;
  width: 100%;
  padding-block: 260px;
  background: $oatmeal url("../img/directions/directions-01.jpg") center / cover no-repeat;
  .h2 {
    text-align: center;
    color: #dceae8;
  }
}

@media (max-width: 1540px) {
  .directions {
    padding-block: 220px;
  }
}
@media (max-width: 1440px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
  .directions {
    padding-block: 140px;
  }
}
@media (max-width: 767px) {
  .directions {
    padding-block: 100px;
  }
}
@media (max-width: 576px) {
}
@media (max-width: 460px) {
}
@media (max-width: 400px) {
}
