.location {
  position: relative;
  display: block;
  width: 100%;
  padding-block: 140px;
  background-color: $oatmeal;
  .line-wrap {
    gap: 64px;
  }
  img {
    display: block;
    width: 757px;
    height: 480px;
    object-fit: contain;
  }
  .location-descr {
    display: block;
    width: 100%;
    max-width: 310px;
  }
  .h3 {
    margin-bottom: 26px;
  }
}

@media (max-width: 1540px) {
  .location {
    padding-block: 110px;
  }
}
@media (max-width: 1440px) {
  .location {
    padding-block: 90px;
  }
  .location img {
    width: 640px;
    height: inherit;
  }
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
  .location {
    padding-block: 70px;
    img {
      width: 480px;
    }
  }
}
@media (max-width: 767px) {
  .location {
    padding-block: 50px;
    .line-wrap {
      gap: 34px;
    }
    img {
      width: 370px;
    }
  }
}
@media (max-width: 576px) {
}
@media (max-width: 460px) {
  .location img {
    width: 320px;
    max-width: 98%;
  }
  .location .h3 {
    margin-bottom: 20px;
  }
}
@media (max-width: 400px) {
}
