.products {
  position: relative;
  display: block;
  width: 100%;
  padding-block: 160px;
  background-color: $oatmeal;
  .container {
    max-width: 1240px;
  }
  .line-wrap {
    gap: 70px;
  }
  .products-header {
    display: block;
    width: 100%;
  }
  .h3 {
    margin-bottom: 20px;
    text-align: center;
  }
  .descr {
    text-align: center;
  }
  .products-items {
    gap: 120px 69px;
    .products-item {
      display: block;
      width: 360px;
      img {
        width: 100%;
        height: 580px;
        margin-bottom: 30px;
        object-fit: cover;
        box-shadow: 7px 6px 30px 0 rgba(0, 0, 0, 0.25);
      }
      .products-item__link {
        display: block;
        width: 100%;
        max-width: max-content;
        padding: 18px 24px;
        font-weight: 400;
        font-size: 14px;
        color: $white;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.35);
        background: linear-gradient(180deg, #8ca086 0%, #6f7e73 100%);
      }
    }
  }
}

.products ~ .products {
  padding-top: 0;
}

@media (max-width: 1540px) {
  .products {
    padding-block: 120px;
  }
  .products .products-items {
    gap: 110px 68px;
  }
}
@media (max-width: 1440px) {
  .products {
    padding-block: 80px;
  }
  .products .line-wrap {
    gap: 50px;
  }
  .products .products-items {
    gap: 100px 68px;
  }
  .products .products-items .products-item {
    width: 346px;
    img {
      height: 558px;
    }
  }
}
@media (max-width: 1199px) {
  .products {
    padding-block: 60px;
  }
  .products .products-items {
    justify-content: space-around;
  }
  .products .products-items .products-item {
    width: 280px;
    img {
      height: 452px;
    }
  }
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
  .products .h3 {
    margin-bottom: 20px;
  }
  .products .descr {
    margin-bottom: 18px;
  }
  .products .line-wrap {
    gap: 0;
  }
  .products .products-items {
    gap: 60px;
  }
}
@media (max-width: 576px) {
  .products {
    padding-block: 30px;
  }
  .products .products-items {
    gap: 30px;
  }
}
@media (max-width: 460px) {
}
@media (max-width: 400px) {
}
