.services {
  position: relative;
  display: block;
  width: 100%;
  padding-block: 140px;
  background-color: $eucalyptus;
  .line-wrap {
    gap: 48px;
  }
  .services-item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: flex-end;
    width: 100%;
    max-width: calc(33% - 28px);
    padding: 40px 36px 160px 36px;
    background-color: #b2c4ad;
    .services-item__title {
      position: relative;
      display: block;
      width: 100%;
      margin-bottom: 18px;
      padding-bottom: 18px;
      font-family: $ff;
      font-weight: 700;
      font-size: 26px;
      line-height: 1.4;
      color: #6f7e73;
      border-bottom: 2px solid #6f7e73;
    }
    .services-item__descr {
      position: relative;
      display: block;
      width: 100%;
      font-family: $ff;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.4;
      letter-spacing: 0.02em;
      color: #6f7e73;
    }
    .btn {
      position: absolute;
      bottom: 68px;
      left: 36px;
    }
    &.without-btn {
      align-content: center;
      padding-block: 40px;
    }
  }
}

@media (max-width: 1540px) {
  .services {
    padding-block: 110px;
  }
}
@media (max-width: 1440px) {
  .services {
    padding-block: 90px;
  }
  .services .services-item {
    max-width: calc(33% - 30px);
  }
}
@media (max-width: 1199px) {
  .services .line-wrap {
    gap: 24px;
  }
  .services .services-item {
    max-width: calc(33% - 13px);
  }
}
@media (max-width: 991px) {
  .services {
    padding-block: 60px;
    .services-item {
      max-width: calc(50% - 13px);
    }
  }
}
@media (max-width: 767px) {
  .services .services-item {
    padding: 24px 16px 100px 16px;
    .services-item__title {
      font-size: 22px;
    }
    .services-item__descr {
      font-size: 15px;
    }
    .btn {
      bottom: 20px;
      left: 16px;
      font-size: 12px;
    }
  }
}
@media (max-width: 576px) {
  .services .services-item {
    max-width: 100%;
  }
}
@media (max-width: 460px) {
}
@media (max-width: 400px) {
}
